server:
  port: 8080
rednote:
  auth:
    excludePaths:
      - /web/auth/**
      - /web/search/note/**
      - /web/search/record/**
      - /web/category/getCategoryTreeData/**
      - /swagger-ui.html
      - /swagger-ui/**
      - /v3/api-docs/**
spring:
  application:
    name: gateway
  main:
    web-application-type: reactive
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 10s
      lettuce:
        pool:
          min-idle: 0
          max-idle: 8
          max-active: 8
          max-wait: -1ms
  cloud:
    nacos:
      server-addr: 192.168.56.2:8848 # nacos
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origin-patterns: "*"
            allowed-methods: "*"
            allowed-headers: "*"
            allow-credentials: true
            max-age: 3600
      routes:
        - id: note
          uri: lb://note-service
          predicates:
            - Path=/web/note/**, /web/category/**, /web/tag/**, /web/album/**
        - id: user
          uri: lb://user-service
          predicates:
            - Path=/web/auth/**, /web/user/**
        - id: interaction
          uri: lb://interaction-service
          predicates:
            - Path=/web/chat/**, /web/comment/**, /web/follow/**, /web/likeOrFavorite/**, /web/ws/**
        - id: oss
          uri: lb://oss-service
          predicates:
            - Path=/web/oss/**
        - id: search
          uri: lb://search-service
          predicates:
            - Path=/web/search/**
