server:
  port: 8080
rednote:
  auth:
    excludePaths:
      - /web/auth/**
      - /web/search/note/**
      - /web/search/record/**
      - /web/category/getCategoryTreeData/**
      - /uploads/**
      - /swagger-ui.html
      - /swagger-ui/**
      - /v3/api-docs/**
spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: note
          uri: http://localhost:8082
          predicates:
            - Path=/web/note/**

